.bicicletas-bg {
  background-color: var(--cor-11);
}

.bicicletas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.bicicletas-imagem {
  display: grid;
}

.bicicletas-imagem img {
  grid-area: 1/-1;
}

.bicicletas-imagem span {
  background-color: var(--cor-12);
  padding: 8px 16px 8px 8px;
  grid-area: 1/-1;
  place-self: start end;
  margin-top: 20px;
  border-radius: 5px 0px 0px 5px;
}

.bicicletas-conteudo {
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: start;
}

.bicicletas-conteudo h2,
.bicicletas-conteudo p {
  grid-column: 1/-1;
}
