.bicicletas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.bicicletas-imagens {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.bicicletas-imagens img {
  flex: 1;
  min-width: 200px;
}

.bicicletas-imagens img:first-child {
  min-width: 100%;
}
